<div class="container-login-form">
    <div class="header-login">
        {{#if signup}}
        <h2>Sign up</h2>
        {{else}}
        <h2>Login</h2>
        {{/if}}
    </div>
    <form class="form login-form">
        <div class="form-group">
            <label for="username-login">Username</label>
            <input class="form-input" type="text" id="username-login" />
        </div>
        <div class="form-group">
            <label for="password-login">Password</label>
            <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">
                {{#if signup}}
                Sign up!
                {{else}}
                Login!
                {{/if}}
            </button>
        </div>
    </form>
    {{#if signup}}
    <div class="login">
        <a href="/login">Login instead</a>
    </div>
    {{else}}
    <div class="signup">
        <a href="/signup">Sign up instead</a>
    </div>
    {{/if}}
</div>

<script src="./js/login.js"></script>