<div class="container-create-post">
    <div class="header-post">
        <h2>Create New Post</h2>
    </div>
    <form class="form new-post-form">
        <div class="form-group">
            <label for="post-title">Title</label>
            <input class="form-input" type="text" id="post-title" />
        </div>
        <div class="form-group">
            <label for="post-content">Content</label>
            <textarea class="form-input" id="post-content" rows="4" cols="50"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </form>
</div>

<script src="./js/newPost.js"></script>